@font-face {
  font-family: minim;
  src: url('./minim.100.otf');
}

body {
  overflow: hidden;
  display: flex;
}

#canvas {
  height: 95vh;
  width: auto;
  margin: auto;
  padding: 6px;
  box-shadow: inset 0 0 1px 5px #fff, 0 0 1px 5px #fff;
}

#nums-container {
  filter: blur(0.5px);
  display: inline;
  position: absolute;
  width: 100%;
  margin-left: calc(1.6vmin - 2px);
  height: auto;
  display: flex;
  justify-content: center;
}

#left-num,
#right-num {
  font-family: 'minim', monospace;
  color: #fff;
  font-size: 12vmin;
  margin: calc(2vmin + 6px) 0 0 0;
  letter-spacing: 10px;
}

#left-num::selection,
#right-num::selection {
  background-color: transparent;
}

#left-num {
  text-align: left;
  margin-right: calc(4vmin - 4.6px);
}

#right-num {
  text-align: right;
  margin-left: calc(4vmin - 4.6px);
}